In [1]:
# 1、练习groupby
# 2、练习merge
# 3、练习重复值处理
import numpy as np
import pandas as pd

In [6]:
# 第一题
dict_obj = {'key1' : ['a', 'b', 'a', 'b',
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1, 10, 8),
            'data2': np.random.randint(1, 10, 8)}

df_obj = pd.DataFrame(dict_obj)
print(df_obj)
print(df_obj.info())

# groupby有点像SQL语句
k1_sum = df_obj.groupby('key1').mean(numeric_only=True).add_prefix('mean_')  # 按照key1分组
print(k1_sum)

k1_sum_tf = df_obj.loc[:,['key1','data1','data2']].groupby('key1').transform('mean').add_prefix('mean_')
print(k1_sum_tf)  # transform可以使分组计算后的尺寸与之前一致

def diff_mean(s):
    """
    返回数据与均值的差值，s传入的是某一分组
    :param s: 
    :return: 
    """
    return s-s.mean()

print(df_obj.groupby('key1').transform(diff_mean))

  key1   key2  data1  data2
0    a    one      2      6
1    b    one      9      7
2    a    two      1      7
3    b  three      1      7
4    a    two      7      7
5    b    two      9      4
6    a    one      2      9
7    a  three      1      6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    8 non-null      object
 1   key2    8 non-null      object
 2   data1   8 non-null      int32
 3   data2   8 non-null      int32
dtypes: int32(2), object(2)
memory usage: 320.0+ bytes
None
      mean_data1  mean_data2
key1
a       2.600000         7.0
b       6.333333         6.0
   mean_data1  mean_data2
0    2.600000         7.0
1    6.333333         6.0
2    2.600000         7.0
3    6.333333         6.0
4    2.600000         7.0
5    6.333333         6.0
6    2.600000         7.0
7    2.600000         7.0
      data1  data2
0 -0.600000   -1.0
1  2.666667    1.0
2 -1.600000    0.0
3 -5.333333    1.0
4  4.400000    0.0
5  2.666667   -2.0
6 -0.600000    2.0
7 -1.600000   -1.0

C:\Users\Administrator\AppData\Local\Temp\ipykernel_19704\1853144551.py:27: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  print(df_obj.groupby('key1').transform(diff_mean))

In [10]:
# 第二题
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print(df_obj2)
print(pd.merge(df_obj1,df_obj2))  # 默认为inner--只保留二者都有的
print('-'*50)
print(pd.merge(df_obj1,df_obj2,on='key'))
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})
print(pd.merge(df_obj1,df_obj2,left_on='key1',right_on='key2'))  # 分为了两个表

  key  data1
0   b      4
1   b      5
2   a      9
3   c      4
4   a      6
5   a      1
6   b      0
  key  data2
0   a      9
1   b      8
2   d      9
  key  data1  data2
0   b      4      8
1   b      5      8
2   b      0      8
3   a      9      9
4   a      6      9
5   a      1      9
--------------------------------------------------
  key  data1  data2
0   b      4      8
1   b      5      8
2   b      0      8
3   a      9      9
4   a      6      9
5   a      1      9
  key1  data1 key2  data2
0    b      4    b      8
1    b      5    b      8
2    b      0    b      8
3    a      9    a      9
4    a      6    a      9
5    a      1    a      9

In [12]:
pd.merge(df_obj1,df_obj2,left_on='key1',right_on='key2',how='outer')  # 全拼起来，缺值填NaN

  key1  data1 key2  data2
0    b    4.0    b    8.0
1    b    5.0    b    8.0
2    b    0.0    b    8.0
3    a    9.0    a    9.0
4    a    6.0    a    9.0
5    a    1.0    a    9.0
6    c    4.0  NaN    NaN
7  NaN    NaN    d    9.0

In [13]:
pd.merge(df_obj1,df_obj2,left_on='key1',right_on='key2',how='left')  # 按照左表拼

  key1  data1 key2  data2
0    b      4    b    8.0
1    b      5    b    8.0
2    a      9    a    9.0
3    c      4  NaN    NaN
4    a      6    a    9.0
5    a      1    a    9.0
6    b      0    b    8.0

In [17]:
# 第三题
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      2
1     a      2
2     a      3
3     a      0
4     b      2
5     b      0
6     b      2
7     b      0

In [18]:
print(df_obj.duplicated())

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7     True
dtype: bool

In [19]:
df_obj[~df_obj.duplicated()]

  data1  data2
0     a      2
2     a      3
3     a      0
4     b      2
5     b      0

In [20]:
print(df_obj.duplicated('data2'))

0    False
1     True
2    False
3    False
4     True
5     True
6     True
7     True
dtype: bool

In [22]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1235')})
print(df_obj1.duplicated('data1'))  # pd中认为nan相同

0    False
1     True
2     True
3     True
dtype: bool

In [23]:
print(df_obj.drop_duplicates())

  data1  data2
0     a      2
2     a      3
3     a      0
4     b      2
5     b      0

In [24]:
ser_obj = pd.Series(np.random.randint(0,10,10))  #series 用map
print(ser_obj)

print(ser_obj.map(lambda x : x ** 2))

0    7
1    2
2    7
3    9
4    5
5    7
6    9
7    1
8    4
9    4
dtype: int32
0    49
1     4
2    49
3    81
4    25
5    49
6    81
7     1
8    16
9    16
dtype: int64

In [25]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值
print(ser_obj.replace(1, -100))  # 把1换成-100
print('-' * 20)
# 多个值替换一个值
print(ser_obj.replace(range(6,9), -100))
print('-' * 20)
# 多个值替换多个值
print(ser_obj.replace([4, 7], [-100, -200]))  # 4->-100, 7->-200

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int32
--------------------
3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int32
--------------------
3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int32

In [26]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'ac', 'd', 'e']})
df.replace(to_replace=r'^a', value=100, regex=True)  # a开头的替换成100

   A  B    C
0  0  5  100
1  1  6    b
2  2  7  100
3  3  8    d
4  4  9    e